body{
    width: 100%;
    height: 100vh;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navs{
    display: flex;
    gap: 10px;
    padding-right: 10px;
}
.navs>li{
    list-style-type: none;
}